/* 
    Document   : css
    Created on : 26/11/2011, 9:08:39 AM
    Author     : liang
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


ol, ul {
    list-style: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-align: left;
}

body{
    text-align: center;
    background: #679bba;
    font-family: "Verdana", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 11pt;
}


body div .inner {
    width: 800px;
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 80px;
    text-align: center;
    color: #fff;
}
#header .inner{
    height: 80px;
}
#header .descr {
    float:right;
    margin: 30px;
    margin-top: 55px;
    margin-bottom: 0;
}
#header h1{
    font-family: impact;
    font-size: 30pt;
    float:left;
    margin: 30px;
    margin-bottom: 0px;
}


#footer {
    text-align: center;
    color: #f5f5f5;
}
#footer .inner{
    text-align: center;
    padding: 9px 15px;
    height: 120px;
    font-size: 10pt;
    width: 770px;
}

#content {
    background: #fff;
    text-align: center;
    color: #555;
}
#content .inner{
    box-shadow: #aaa 0px 0 10px;
    border-left: 1px #aaa solid;
    border-right: 1px #aaa solid;
    min-height: 500px;
    padding: 20px 40px;
}
/*\*/
* html #content .inner {
    height: 500px;
    border-left: 1px #d5d5d5 solid;
    border-right: 1px #d5d5d5 solid;
}
/**/

#content ul.list{
    border-top: 2px #999 solid;
    border-bottom: 2px #999 solid;
    padding: 0 12px;
}

#content ul.list li{
    padding: 20px 12px;
    clear: both;
    border-top: 1px dotted #888;
    cursor: pointer;
}
#content ul.list li.odd{
    background: #f3f3f3;
}
#content ul.list li.hover{
    background: #77aBcA;
    color: #f3fefe;
}
#content ul.list li.first{
    border-top: none;
    border: none;
    clear: both;
}

#content .avatar{
    height:120px;
    width:120px;
    overflow: hidden;
    float:left;
/*    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -o-border-radius:8px;
    border-radius: 8px;*/
    z-index: 999;
    border: 1px #666 solid;
    color: #ddd;
}
#content .avatar img{
    position: relative;
    z-index: 1;
}

#content .row{
    margin-bottom: 5px;
}
#content .row img{
    margin-left: 12px;
    cursor: pointer;
}


#content .info{
    margin-left: 140px;
}

#content .clear{
    clear: both;
}

#content .info label{
    font-weight: bold;
    width:240px;
    display: inline-block;
    margin-right: 12px;
    text-transform: capitalize;
}
#content .single-item .info .sec{
    border-bottom: 1px #979baa solid;
    padding: 12px 12px 3px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14pt;
}
#content .single-item .info .sec.optional{
    margin-top: 20px;
}
#content .single-item .avatar{
    margin-top: 20px;
}
#content .single-item .info{
    margin-left: 150px;
}

#content #change-avatar{
    width: 102px;
    height: 102px;
    margin-top: 20px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -o-border-radius:8px;
    border-radius: 8px;
    background: #555;
    font-size: 14pt;
    color: white;
    padding: 10px;
    z-index: 9999;
}

#content .controls{
    text-align: right;
    padding: 5px 12px;
}

#content .controls a{
    text-decoration: none;
    color: #37c;
}

#content .controls a:hover{
    text-decoration: underline;
    color: #15a;
}